* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  text-align: center;
  font-size: 80px;
  letter-spacing: 3px;
  font-family: "Rubik Vinyl", cursive;
}

.section-s {
  background-color: rgb(173, 73, 73);
  width: 752px;
  height: 245px;
  padding: 10px;
  margin: auto;
  margin-top: 20px;
}
.h3-s {
  font-family: "EB Garamond", serif;
  color: #f4a460;
  font-size: 32px;
  text-align: center;
}
.p-s {
  text-align: justify;
  color: white;
}
.img-s {
  height: 200px;
  float: left;
}
.a-s {
  text-decoration: none;
  background-color: #ff7f50;
  color: white;
  font-family: Arial;
  height: 45px;
  padding: 15px;
  float: right;
  width: 150px;
  margin: 10px 25px 0 0;
  border-radius: 5px;
  text-align: center;
}
